<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Book Store Template, Free CSS Template, obral_buku.com</title>
<meta name="keywords" content="Book Store Template, Free CSS Template, CSS Website Layout, CSS, HTML, obral_buku.com" />
<meta name="description" content="Book Store Template, Free CSS Template, Download CSS Website from obral_buku.com" />
<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!--  Free CSS Templates from www.obral_buku.com -->
<div id="obral_buku_container">
	<div id="obral_buku_menu">
		<!-- menu -->
    	<ul>
            <li><a href="index.html" class="current">Beranda</a></li>
            <li><a href="form.html">Cara Pembelian</a></li>
            <li><a href="subpage.html">Tentang Kami</a></li>
    	</ul>
		<!-- end of menu -->
		<!--search-->
		<div id="search">
			<form action="">
			<img src="images/bendera.jpg" />
				<input class="input_search" type="text" size="25" maxlength="100" value="              -- Cari buku --">
				<input class="button_search" type="submit" value="Cari">
			</form>
		</div>
		<!-- end of search -->
    </div>
	
    
    <div id="obral_buku_header">
    	<div id="obral_buku_special_offers">
        	<p>
                Kami berikan diskon sebesar <span>25%</span> selama bulan ini.
        	</p>
			<a href="subpage.html" style="margin-left: 50px;">Selengkapnya..</a>
        </div>
        
        
        <div id="obral_buku_new_books">
        	<ul>
                <li>Cara Menjadi Pebisnis Sukses dalam 24 Jam</li>
                <li>100 Cara Membuat Bisnis Pecel Lele Anda Laris</li>
                <li>Indahnya Kebersamaan</li>
            </ul>
            <a href="subpage.html" style="margin-left: 50px;">Selengkapnya...</a>
        </div>
    </div> <!-- end of header -->
    
    <div id="obral_buku_content">
    	
         <div id="obral_buku_content_left">
        	<div class="obral_buku_content_left_section">
            	<h1>Kategori</h1>
                <ul>
                    <li><a href="subpage.html">Agama</a></li>
					<li><a href="#">Bahasa dan Sastra</a></li>
					<li><a href="#">Ekonomi</a></li>
					<li><a href="#">Kesehatan</a></li>
					<li><a href="#">Komik</a></li>
					<li><a href="#">Komputer</a></li>
                    <li><a href="subpage.html">Motivasi</a></li>
                    <li><a href="#">Novel</a></li>
                    <li><a href="#">Pelajaran</a></li>
                    <li><a href="#">Politik</a></li>
					<li><a href="#">Lihat semua kategori..</a></li>
            	</ul>
            </div>
			<div class="obral_buku_content_left_section">
            	<h1>Penerbit Populer :</h1>
                <ul>
                    <li><a href="subpage.html">Andi Publisher</a></li>
                    <li><a href="subpage.html">Gramedia Pustaka Utama</a></li>
                    <li><a href="#">Elex Media Komputindo</a></li>
                    <li><a href="#">Penebar Swadaya</a></li>
                    <li><a href="#">Erlangga</a></li>
                    <li><a href="#">Gagas Media</a></li>
                    <li><a href="#">Griya Kreasi</a></li>
                    <li><a href="#">DAR Mizan</a></li>
                    <li><a href="#">Ufuk Publishing</a></li>
					<li><a href="#">Kompas</a></li>
					<li><a href="#">Lihat semua penerbit..</a></li>
            	</ul>
            </div>
            
            <div class="obral_buku_content_left_section">   
				<h1>Layanan Online :</h1>
					<img class="status_ym" src="images/online.gif" alt="image"/>
			</div>
			<div class="obral_buku_content_left_section">                
				<img src="images/rss.png" width="45" height="45" alt="image" width="186"/>
				<img class="facebook" src="images/facebook_logo1.jpg" alt="image" width="130"/>
			</div>
			<div class="obral_buku_content_left_section">
				<h1>Berlangganan :</h1>
				<table class="subscribe">
					<tr><td><input class="input_subscribe" type="text" value="        -- Nama Anda --"/></td><td></td></tr>
					<tr><td><input class="input_subscribe" type="text" value="        -- Email Anda --" /></td><td align="right"><input class="ya" type="submit" value="Ya" /></td></tr>
				</table>
			</div>
        </div> <!-- end of content left -->
        
        <div id="obral_buku_content_right">
            <h1>Pembelian Hari Ini :</h1>
			<h2>Daftar Pembelian :</h2>
			<table class="daftar_barang" border="1">
				<tr>
					<th><b>No</b></th><th><b>Nama Barang</b></th><th><b>Harga Barang</b></th>
				</tr>
				<tr><td>1</td><td>Tip and Trik Merawat Komputer</td><td>Rp 40.000,00</td></tr>
				</tr><td>2</td><td>100 Cara Memperbaiki Komputer Rusak</td><td>Rp 70.000,00</td></tr>
				<tr><td>3</td><td>Kumpulan Humor Segar</td><td>Rp 20.000,00</td></tr>
				<tr><td colspan="2"><b>Total Pembelian :</b></td><td><b>Rp 130.000,00</b></td></tr>
			</table>
			<br>
			<h2>Pilih Jasa Pengiriman :</h2>
			<table class="daftar_barang">
				<tr>
					<td><b>Pilih Jasa Pengiriman</b></td>
					<td><b>: </b>
						<select>
							<option>-- pilih jasa pengiriman --</option>
							<option>TiKi</option>
							<option>JNE</option>
						</select>
					</td>
				</tr>
				<tr>
					<td><b>Pilih Tujuan Kirim</b></td>
					<td><b>: </b>
						<select>
							<option>-- pilih tujuan kirim --</option>
							<option>Jawa Tengah</option>
							<option>Yogyakarta</option>
						</select>
					</td>
				</tr>
			</table>
			<br>
			<h2>Total Pembayaran :</h2>
			<table class="daftar_barang">
				<tr>
					<td><b>Total Pembelian</b></td>
					<td><b>: </b>
						Rp 120.000,00
					</td>
				</tr>
				<tr>
					<td><b>Ongkos Kirim</b></td>
					<td><b>: </b>
						Rp &nbsp;&nbsp;30.000,00
					</td>
				</tr>
				<tr><td colspan="2"><hr></td></tr>
				<tr>
					<td><b>Jumlah yang Dibayar</b></td>
					<td><b>: </b>
						<b>Rp 150.000,00</b>
					</td>
				</tr>
			</table>
			<br>
			<h2>Pilih Cara Pembayaran :</h2>
			<table class="daftar_barang">
				<tr>
					<td><input type="radio" name="pembayaran" /></td>
					<td> Transfer Melalui Bank</td>
				</tr>
				<tr><td></td><td><img src="images/bca.jpg"> <img src="images/mandiri.jpg"></td></tr>
				<tr>
					<td><input type="radio" name="pembayaran" /></td>
					<td> Melalui Paypal</td>
				</tr>
				<tr><td></td><td><img src="images/paypal.gif"></td></tr>
			</table>
			<br>
			<div class="button_lanjut"><a href="subpage.html">Lanjut</a></div>
        </div> <!-- end of content right -->
    
    	<div class="cleaner_with_height">&nbsp;</div>
    </div> <!-- end of content -->
    
    <div id="obral_buku_footer">
	      <a href="subpage.html">Beranda</a> | <a href="subpage.html">Cara Pembelian</a> | <a href="subpage.html">Tentang Kami</a><br>
        Copyright © 2011 <a href="#"><strong>Obral Buku</strong></a>
	</div> <!-- end of footer -->
<!--  Free CSS Template www.obral_buku.com -->
</div> <!-- end of container -->
</body>
</html>