<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Book Store Template, Free CSS Template, obral_buku.com</title>
<meta name="keywords" content="Book Store Template, Free CSS Template, CSS Website Layout, CSS, HTML, obral_buku.com" />
<meta name="description" content="Book Store Template, Free CSS Template, Download CSS Website from obral_buku.com" />
<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!--  Free CSS Templates from www.obral_buku.com -->
<div id="obral_buku_container">
	<div id="obral_buku_menu">
		<!-- menu -->
    	<ul>
            <li><a href="index.html" class="current">Beranda</a></li>
            <li><a href="form.html">Cara Pembelian</a></li>
            <li><a href="subpage.html">Tentang Kami</a></li>
    	</ul>
		<!-- end of menu -->
		<!--search-->
		<div id="search">
			<form action="">
			<img src="images/bendera.jpg" />
				<input class="input_search" type="text" size="25" maxlength="100" value="              -- Cari buku --">
				<input class="button_search" type="submit" value="Cari">
			</form>
		</div>
		<!-- end of search -->
    </div>
	
    
    <div id="obral_buku_header">
    	<div id="obral_buku_special_offers">
        	<p>
                Kami berikan diskon sebesar <span>25%</span> selama bulan ini.
        	</p>
			<a href="subpage.html" style="margin-left: 50px;">Selengkapnya..</a>
        </div>
        
        
        <div id="obral_buku_new_books">
        	<ul>
                <li>Cara Menjadi Pebisnis Sukses dalam 24 Jam</li>
                <li>100 Cara Membuat Bisnis Pecel Lele Anda Laris</li>
                <li>Indahnya Kebersamaan</li>
            </ul>
            <a href="subpage.html" style="margin-left: 50px;">Selengkapnya...</a>
        </div>
    </div> <!-- end of header -->
    
    <div id="obral_buku_content">
    	
         <div id="obral_buku_content_left">
        	<div class="obral_buku_content_left_section">
            	<h1>Kategori</h1>
                <ul>
                    <li><a href="subpage.html">Agama</a></li>
					<li><a href="#">Bahasa dan Sastra</a></li>
					<li><a href="#">Ekonomi</a></li>
					<li><a href="#">Kesehatan</a></li>
					<li><a href="#">Komik</a></li>
					<li><a href="#">Komputer</a></li>
                    <li><a href="subpage.html">Motivasi</a></li>
                    <li><a href="#">Novel</a></li>
                    <li><a href="#">Pelajaran</a></li>
                    <li><a href="#">Politik</a></li>
					<li><a href="#">Lihat semua kategori..</a></li>
            	</ul>
            </div>
			<div class="obral_buku_content_left_section">
            	<h1>Penerbit Populer :</h1>
                <ul>
                    <li><a href="subpage.html">Andi Publisher</a></li>
                    <li><a href="subpage.html">Gramedia Pustaka Utama</a></li>
                    <li><a href="#">Elex Media Komputindo</a></li>
                    <li><a href="#">Penebar Swadaya</a></li>
                    <li><a href="#">Erlangga</a></li>
                    <li><a href="#">Gagas Media</a></li>
                    <li><a href="#">Griya Kreasi</a></li>
                    <li><a href="#">DAR Mizan</a></li>
                    <li><a href="#">Ufuk Publishing</a></li>
					<li><a href="#">Kompas</a></li>
					<li><a href="#">Lihat semua penerbit..</a></li>
            	</ul>
            </div>
            
            <div class="obral_buku_content_left_section">   
				<h1>Layanan Online :</h1>
					<img class="status_ym" src="images/online.gif" alt="image"/>
			</div>
			<div class="obral_buku_content_left_section">                
				<img src="images/rss.png" width="45" height="45" alt="image" width="186"/>
				<img class="facebook" src="images/facebook_logo1.jpg" alt="image" width="130"/>
			</div>
			<div class="obral_buku_content_left_section">
				<h1>Berlangganan :</h1>
				<table class="subscribe">
					<tr><td><input class="input_subscribe" type="text" value="        -- Nama Anda --"/></td><td></td></tr>
					<tr><td><input class="input_subscribe" type="text" value="        -- Email Anda --" /></td><td align="right"><input class="ya" type="submit" value="Ya" /></td></tr>
				</table>
			</div>
        </div> <!-- end of content left -->
        
        <div id="obral_buku_content_right">
            <h1>Tentang Kami</h1>
            <p>Obral Buku merupakan sebuah toko buku online yang memberikan berbagai kemudahan dalam berbelanja. 
			Koleksi, kenyamanan dan harga adalah pedoman kami di Obral Buku. 
			Toko buku online ini berpusat di Semarang dan melayani pembelian buku dari berbagai penerbit di Indonesia. 
			Lewat Obral Buku, anda dapat melakukan pemesanan 24 jam sehari 7 hari seminggu. 
			Kami menyediakan buku-buku baru dan menyediakan layanan antar ke seluruh Indonesia.</p>
			<p>Berbagai keuntungan yang kami berikan kepada anda antara lain :</p>
			<ul>
				<li>- Kanyaknya pilihan buku yang bervariasi berdasarkan katagori</li>
				<li>- Kami menawarkan harga yang relatif lebih murah dibandingkan dengan toko online yang lainnya dan diskon<br>&nbsp; yang menarik </li>
				<li>- Pencarian buku yang mudah dan cepat berdasarkan judul, pengarang, atau kata kunci lain</li>
				<li>- Anda juga dapat melihat deskripsi berbagai buku yang anda cari. Selain itu anda juga dapat memilih berbagai <br>&nbsp; buku yang direkomendasikan oleh staff kami</li>
				<li>- Pengiriman yang cepat dengan harga yang terjangkau</li>
			</ul>
			
			<b>Alamat Toko Buku</b><br>
				www.ObralBuku.com<br><br>
			<b>Toko Obral BUku</b><br>
				Jl. Gondang barat IV No. 16<br>
				Tembalang, Semarang<br>
				Telp / Fax. (024)7964224<br>
				Email : info@obralbuku.com
        </div> <!-- end of content right -->
    
    	<div class="cleaner_with_height">&nbsp;</div>
    </div> <!-- end of content -->
    
    <div id="obral_buku_footer">
	      <a href="subpage.html">Beranda</a> | <a href="subpage.html">Cara Pembelian</a> | <a href="subpage.html">Tentang Kami</a><br>
        Copyright © 2011 <a href="#"><strong>Obral Buku</strong></a>
	</div> <!-- end of footer -->
<!--  Free CSS Template www.obral_buku.com -->
</div> <!-- end of container -->
</body>
</html>